
h1,
h2,
h3 {
    border-bottom: 2px solid #fafafa;
    margin-bottom: 1.15rem;
    padding-bottom: .5rem;
    text-align: center;
}

blockquote {
    border-left: 8px solid #fafafa;
    padding: 1rem;
}

code {
    background-color: #303030;
    overflow: hidden;
    border-radius: 2px;
    width: fit-content;
    font-size: 1rem;
    padding-left: 2px;
    padding-right: 2px;
}